:root {
    --primary-color: #0C2B4E;
    --primary-color-dark: #002a4e;
    --primary-color-light: #edf5fc;
    --secondary-color: #fff0d9;
    --secondary-color-light: #F9B487;
    --dark-color: #131313;
    --light-gray: #d9d9d9;
    --light-color: #eeeeee;
    --title-font: 'Fira Sans', sans-serif;
    --body-font: 'Roboto', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    /* fallback for old browsers */
    background-color: var(--primary-color-light);
    display: flex;
    flex-direction: column;
    color: var(--dark-color);
    font-family: var(--body-font);
    font-weight: 400;
    font-size: 1.2rem;
}

.theme-color {
    background-color: var(--primary-color);
}

/*--Button Overrides --*/
.btn-primary {
    color: var(--dark-color) !important;
    background-color: var(--secondary-color) !important;
    border-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: var(--secondary-color-light) !important;
}

.btnlinks {
    width: 7rem;
    opacity: .9;
}

    .btnlinks:hover {
        background-color: var(--secondary-color-light);
        opacity: 1;
    }

nav {
    background-color: var(--primary-color-light)
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title-font);
    font-weight: 600;
    text-transform: uppercase;
}


main {
    background-color: var(--primary-color-light);
}

.content {
    flex: 1 0 auto;
    padding-top: 7.5rem;
    padding-bottom: 2.5rem;
}

.heroCard {
    min-height: 100%;
}

.texthighlight {
    color: var(--secondary-color-light);
}

.heroTitle {
    font-size: 3rem;
    text-transform: uppercase;
    font-family: var(--title-font);
    font-weight: 600;
}

.subtitle {
    font-size: 1.5rem;
}

.pageHeader {
    background-color: var(--secondary-color);
    padding-top: 7.5rem;
    padding-bottom: 2.5rem;
}

.pageTitle {
    font-family: var(--title-font);
    font-weight: 500;
    font-size: 3rem;
    line-height: 3rem;
    text-transform: capitalize;
}

.navShadow {
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
}

.sideNav {
    border-radius: 25px;
    border-color: var(--light-color);
    border-style: solid;
    border-width: 3px;
    background-color: var(--secondary-color);
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: fit-content;
}

.editIcons {
    font-size: 1.5rem;
    opacity: .9;
    color: var(--primary-color-dark);
}

    .editIcons:hover {
        color: var(--primary-color);
        font-weight: bold;
        opacity: 1;
        cursor: pointer;
    }


.icon {
    font-size: 3.5rem;
}

.footer {
    flex-shrink: 0;
    background-color: var(--primary-color);
}

.socialicons {
    color: var(--secondary-color);
    opacity: .9;
    font-size: 2rem;
}

    .socialicons:hover {
        color: var(--secondary-color-light);
        opacity: 1;
        cursor: pointer;
    }

.square-img-container {
    position: relative;
    background-color: var(--primary-color-light);
    border-color: var(--light-gray);
    border-style: solid;
}

    .square-img-container::after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

.square-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}


/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .heroTitle {
        font-size: 3.5rem;
    }
}